.card-help {
    text-align: center;

    .components-card-body svg {
        width: 100px;
        height: 100px;
    }

    .components-card-header,
    .components-card-footer {
        flex-direction: column;
        justify-content: end;
    }

    /* <= WP 5.8 */
    .components-card__header,
    .components-card__footer {
        justify-content: center;
    }
}