
.components-toggle-control .components-base-control__field {
    margin-bottom: 0;
    flex-direction: row-reverse;
    justify-content: space-between;

    .components-toggle-control__label {
        font-weight: 600;
    }
}

.components-base-control  .components-base-control__help {
    color: var(--color-text);
    opacity: .8;
    margin-top: .85rem;
    font-size: .9rem;
}

.wppw .components-select-control__input {
    max-width: 100%;
}