.components-card__header {
    position: relative;
    
    .price {
        background-color: var(--hgbrand-color-primary);
        border-radius: 0.5rem;
        color: var(--hgbrand-color-green);
        font-size: 1rem;
        font-weight: 800;
        min-width: 3rem;
        padding: 0.25rem 0.75rem;
        position: absolute;
        right: 1rem;
        text-align: center;
        top: -2.5rem;
    }
}

.wppw-marketplace-tabs {
    display: flex;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: var(--hgbrand-color-secondary);

    .components-tab-panel__tabs {
        min-width: 10rem;
        margin-right: 2rem;
        margin-top: -1px;
    }
    
    .components-tab-panel__tabs-item {
        background-color: var(--hgbrand-color-white);
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: var(--hgbrand-color-secondary);
        font-size: 15px;

        &:focus:not(:disabled) {
            box-shadow: inset 0 1px var(--hgbrand-color-primary), inset 0 -1px var(--hgbrand-color-primary);
        }

        &:hover {
            color: var(--hgbrand-color-secondary);
        }

        &.current-tab {
            background-color: transparent;
            border-width: 1px 0;
            cursor: default;
        }
    }

    .components-tab-panel__tab-content {
        padding-top: 1rem;
    }
}