:root {
    --mdc-theme-primary: #0D47FB;
    --mdc-theme-primary--light1: #4A75FC;
    --mdc-theme-primary--light2: #6E91FD;
    --mdc-theme-primary--light3: #CFDAFE;
    --mdc-theme-primary--light4: #E6ECFF;
    --mdc-theme-primary--dark1: #0A39C9;

    --mdc-theme-secondary: #0BB073;
    --mdc-theme-secondary--light1: #48C496;
    --mdc-theme-secondary--light2: #6DD0AB;
    --mdc-theme-secondary--light3: #CEEFE3;
    --mdc-theme-secondary--light4: #E6F7F1;
    --mdc-theme-secondary--dark1: #098D5C;

    --dc-theme-ter: #14C1B3;
    --dc-theme-ter--light1: #4FD1C6;
    --dc-theme-ter--light2: #72DAD1;
    --dc-theme-ter--light3: #D0F3F0;
    --dc-theme-ter--light4: #E7F9F7;
    --dc-theme-ter--dark1: #109A8F;

    --dc-theme-qua: #FEC101;
    --dc-theme-qua--light1: #FED141;
    --dc-theme-qua--light2: #FEDA67;
    --dc-theme-qua--light3: #FFF3CC;
    --dc-theme-qua--light4: #FCF6E9;
    --dc-theme-qua--dark1: #CB9A01;

    --dc-theme-qui: #CC482E;
    --dc-theme-qui--light1: #D97662;
    --dc-theme-qui--light2: #E09182;
    --dc-theme-qui--light3: #F5DAD5;
    --dc-theme-qui--light4: #FFF9E5;
    --dc-theme-qui--dark1: #A33A25;

    --dc-theme-sen: #DF5361;
    --dc-theme-sen--light1: #E77E89;
    --dc-theme-sen--light2: #EC98A0;
    --dc-theme-sen--light3: #F9DDDF;
    --dc-theme-sen--light4: #FCEDEF;
    --dc-theme-sen--dark1: #B2424E;

    --dc-theme-black: #000;
    --dc-theme-grey: #353738;
    --dc-theme-grey--light1: #55585A;
    --dc-theme-grey--light2: #AAAFB3;
    --dc-theme-grey--light3: #D4DBE0;
    --dc-theme-grey--light4: #F5F7F8;
    --dc-theme-white: #fff;

    --mdc-theme-error: #ff182f;
    --mdc-theme-error--light: #ffebea;
    --mdc-theme-error--dark: #701116;

    --dc-theme-warning: #f2b61b;
    --dc-theme-warning--light: #fae2af;
    --dc-theme-warning--dark: #be5a00;

    --dc-theme-success: #23c161;
    --dc-theme-success--light: #ebf9ed;
    --dc-theme-success--dark: #034a1d;

}

html {
    @media screen and (min-width: 782px) {
        overflow: -moz-scrollbars-vertical; 
        overflow-y: scroll;
    }
}

body.toplevel_page_crazydomains {
    --wp-admin-theme-color: var(--mdc-theme-primary);
    --wp-admin-theme-color-darker-10: var(--mdc-theme-primary--dark1);
    --wp-admin-theme-color-darker-20: var(--dc-theme-black);
    --wp-admin-border-width-focus: 2px;
    --crazydomainsbrand-focus: inset 0 0 0 1px var(--dc-theme-white),0 0 0 var(--wp-admin-border-width-focus) var(--mdc-theme-primary);
    
    a {
        color: var(--mdc-theme-primary);
    }
    
    @media screen and (max-width:782px) {
        .wp-responsive-open #wpbody {
            right: -190px; // only when mobile admin menu open
        }
    }
    #wpwrap {
        background-color: var(--dc-theme-white);
    }
    #wpcontent {
        padding-left: 0 !important;
    }

    #wpadminbar .ab-top-menu {
        li {
            transition: opacity .33s ease;
        }
        .hideme {
            max-height: 32px;
            opacity: 0;
            overflow: hidden;
            pointer-events: none;
            width: 0;
        }
    }
    
    #wpbody-content .notice,
    #wpbody-content #dolly,
    #wpbody-content .update-nag {
        display: none;
    }
    #wpbody-content .newfold-notifications-wrapper .notice {
        display: block;
    }

}
.wppcd {
    color: var(--dc-theme-grey);

    h1, h2, h3, h4, h5, h6 {
        color: var(--dc-theme-black);
        font-weight: 700;
    }
    .wppcd-nav a {
        color: var(--dc-theme-black);
    }
    p, div {
        color: var(--dc-theme-grey);
        font-size: 15px;
        font-weight: 500;
    }
    .components-card__body .components-toggle-control .components-base-control__field .components-toggle-control__label,
    .components-card__body .components-input-control__label,
    .components-card__body .components-input-control__label *,
    .components-card__body .components-radio-control__option label strong {
        color: var(--dc-theme-black);
    }

    .components-button {
        font-size: 15px;
        font-weight: 500;
        transition: all 0.25s ease;
        white-space: nowrap;

        .dashicons, .dashicons-before:before {
            transition: all .25s ease;
        }

        &:focus:not(:disabled) {
            box-shadow: var(--crazydomainsbrand-focus);
        }

        &.is-primary,
        &[variant="primary"] {
            background-color: var(--mdc-theme-primary);
            color: var(--dc-theme-white);
        }

        &.is-secondary,
        &[variant="secondary"] {
            border-color: var(--mdc-theme-primary);
            box-shadow: inset 0 0 0 1px var(--mdc-theme-primary);
            color: var(--mdc-theme-primary);
        }

        &:last-child {
            padding-right: 1rem; /* <= WP 5.8 */
        }

        &.has-icon {
            padding-right: 1rem;

            .dashicon {
                margin-right: 10px; /* <= WP 5.6 */
            }
        }
    }
    a:focus {
        box-shadow: var(--crazydomainsbrand-focus);
        outline: 0;
    }
    .components-base-control__help,
    .components-radio-control__option label span span {
        color: var(--dc-theme-grey);
        margin-top: 0.25rem;
    }
}
.wppcd, .wppcd * {
    box-sizing: border-box;
}

.wppcd-app-body {
    padding: 18px 24px 0;
    &-inner {
        max-width: 1290px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.components-snackbar__content {
    color: var(--dc-theme-grey--light4) !important;
}

.grid {
    display: grid;
    gap: clamp(0.5rem, calc(1rem + 1vw), 2rem);
    padding: 0.5rem;
    &.col2,
    &.col3,
    &.col4 {
        @media screen and (min-width: 600px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    &.col3,
    &.col4 {
        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
    &.col4 {
        @media screen and (min-width: 1020px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}

.wppcd-app-snackbar {
    padding: 0 24px;
    position: relative;

    .components-snackbar-list {
        bottom: .5rem;
        position: fixed;
    }
}


.has-page-graphic {
    padding-bottom: 26rem;
}

.wppcd-page-graphic {
    bottom: 3.5rem;
    opacity: .5;
    position: absolute;
    right: 1rem;
    z-index: -1;
}

.wppcd {
    .components-card {
        box-shadow: inset -2px -2px 0px 4px var(--dc-theme-black);

        &.short {
            margin-bottom: auto;
        }

        &.disabled {
            opacity: .5;
        }
    }

    .components-card-body,
    .components-card__body {

        &.disabled {
            opacity: .5;
        }
    }
}