.wppw-section {
    margin: 0 0 2rem;
    position: relative;

    &.wppw-section-coming-soon {
        margin-bottom: 10rem;

        .wppw-section-graphic {
            top: -3rem;
            right: -6rem; 
        }
    }
}

.section-graphic {
    position: absolute;
    right: 1rem;
    top: 2rem;
    transition: all .5s ease;
    z-index: 0;
    display:none;
    @media screen and (min-width: 882px) {
        display: block;
        max-width: 200px;
    }
    @media screen and (min-width: 1080px) {
        max-width: 260px;
    }
    @media screen and (min-width: 1440px) {
        max-width: 360px;
    }

    &.reverse {
        transform: rotateY(180deg);
        @media(prefers-reduced-motion) {
            transform: none;
        }
    }
}

.wppw-section-card {
    z-index: 1;

    @media screen and (min-width: 882px) {
        max-width: 66%;
    }

    .components-card__footer {
        flex-direction: column;
        
        .wppw-cardlist-content {
            width: 100%;
            .components-heading {
                display: flex;
                align-items: center;
                .dashicons, svg {
                    margin-right: 8px;
                    color: var(--hgbrand-color-secondary);
                    fill: var(--hgbrand-color-secondary);
                }
            }
            @media screen and (max-width: 700px) {
                text-align: center;
                .components-heading {
                    justify-content: center;
                }
            }
        }

        .components-button {
            margin: 1rem auto;
        }

        @media screen and (min-width: 700px) {
            flex-direction: row;

            .wppw-cardlist-content {
                max-width: 60%;
            }

            .components-button {
                margin: 0;
            }
        }
    }
}