name: Lint YML
on:
  push:
    paths:
      - '**.yml'
    pull_request:
      types: [ opened, edited, synchronize, reopened, ready_for_review ]
      paths:
        - '**.yml'
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true
jobs:
  lint-yml:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Lint yaml files
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c # v3.1.1
        with:
          config_data: >
            {
              extends: default,
              rules: {
                document-start: disable,
                truthy: disable,
                line-length: disable,
                brackets: {
                  min-spaces-inside: 0,
                  max-spaces-inside: 1
                }
              }
            }
