name: WP Internationalization
on:
  push:
    branches:
      - '**'
    pull_request:
      types: [ opened, edited, synchronize, reopened, ready_for_review ]
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true
jobs:
  wp-i18n:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.ref }}

      - name: Setup workflow context
        id: workflow
        working-directory: ${{ runner.temp }}
        env:
          REPO: ${{ github.repository }}
        run: |
          mkdir dist
          echo "DIST=${PWD}/dist" >> $GITHUB_OUTPUT
          echo "PACKAGE=${REPO##*/}" >> $GITHUB_OUTPUT

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
        with:
          php-version: '8.1'
          coverage: none
          tools: composer, cs2pr

      - name: Get Composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer vendor directory
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}

      - name: Use Node.js 20.x
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20.x

      - name: Log debug information
        run: |
          php --version
          composer --version
          node --version
          npm --version

      - name: Validate composer.json and composer.lock files
        run: composer validate

      - name: Install PHP Dependencies
        run: composer install --no-progress --optimize-autoloader

      - name: Setup Registry
        run: printf "\n//npm.pkg.github.com/:_authToken=${{ secrets.NEWFOLD_ACCESS_TOKEN }}" >> .npmrc

      - name: NPM Install
        run: npm install --legacy-peer-deps

      - name: Build JavaScript
        run: npm run build

      - name: Remove token
        run: git checkout -- '.npmrc'


      - name: Add text domains
        run: npx node-wp-i18n addtextdomain

      - name: Generate language files
        run: composer run-script i18n

      - name: Check if there are file changes
        id: changes
        continue-on-error: true
        run: git diff --exit-code

      - name: Warning if language files have changes
        if: steps.changes.outcome == 'failure'
        run: |
          echo "i18n files are out of date"
          echo "Please run command (composer run i18n) locally to update them and commit before releasing"

      - name: Commit web files
        if: steps.changes.outcome == 'failure'
        run: |
          git config --local user.name "${{ github.event.head_commit.author.name }}"
          git config --local user.email "${{ github.event.head_commit.author.email }}"
          git remote -v
          git add -A
          git commit -m "WordPress i18n triggered by commit ${{ github.sha }}"
          git status

      - name: Push changes
        if: steps.changes.outcome == 'failure'
        uses: ad-m/github-push-action@77c5b412c50b723d2a4fbc6d71fb5723bcd439aa # v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
